html,
body,
body > div,
.app {
  background-color: #f7e0a4;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  font-family: "Open-Sans", sans-serif;
}
